# OpsFlow Environment Variables
NODE_ENV=development
WEB_PORT=5173
API_PORT=3000
DATABASE_URL=postgres://opsflow:opsflow_password@postgres:5432/opsflow
POSTGRES_USER=opsflow
POSTGRES_PASSWORD=opsflow_password
POSTGRES_DB=opsflow
REDIS_URL=redis://redis:6379
JWT_SECRET=dev_only_change_me_later
CORS_ORIGIN=http://localhost:5173

# pgAdmin (Database Management UI)
PGADMIN_EMAIL=admin@opsflow.com
PGADMIN_PASSWORD=admin
